# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# 微信开发者工具本地私有配置
project.private.config.json

# 临时文件
*.log
video_frames/
